.TitlePage {
  background-color: #efa18a;
  justify-content: center;
  display: flex;
  height: 90%;
  width: 100%;
  position: absolute;
  font-size: 1.2rem;
}

.Title {
  padding-top: 20%;
  color: white;
  text-align: center;
}

.nav-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem 1rem;
  justify-content: center;
}

.nav-bar {
  display: flex;
  background-color: #f08d7e;
  height: 100%;
  justify-content: center;
}

.bottom {
  position: absolute;
  background-color: #acaec5;
  left: 0;
  bottom: 0;
  right: 0;
}

.modes {
  background-color: #e2bab1;
  justify-content: center;
  display: flex;
  height: 40%;
  width: 100%;
  margin-top: 30%;
  position: fixed;
  font-size: 1.2rem;
}
