.TitlePage {
  background-color: #efa18a;
  justify-content: center;
  height:100%;
  width: 100%;
  position: absolute;
  font-size: 1.2rem;
}

.Title {
  padding-top: 20%;
  color: black;
  text-align: center;
  justify-content: center;
}

.nav-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-bar {
  background-color: #f08d7e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
}


.modes {
  background-color: #e2bab1;
  justify-content: center;
  display: flex;
  height: 40%;
  width: 100%;
  margin-top: 30%;
  position: fixed;
  font-size: 1.2rem;
}

.Descrip {
  color: black;
  text-align: center;
  padding-top: 10rem;
  font-weight:500;
  width:50%;
  margin:auto
}
