.BigBody {
  background-color: #f08d7e;
  position: absolute;
  display: flexbox;
  justify-content: center;
  height: 95%;
}

.flex-container {
  justify-content: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.peeps {
  width: 21%;
  padding-bottom: 40px;
  margin-right: 20px;
}
.role {
  font-style: italic;
}

.bottom {
  position: absolute;
  background-color: #acaec5;
  left: 0;
  bottom: 0;
  right: 0;
}
