.BigBody {
  background-color: #efa18a;
  position: absolute;
  display: flexbox;
  justify-content: center;
  height: 95%;
}

.flex-container {
  justify-content: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.peeps {
  width: 21%;
  padding-bottom: 40px;
  margin-right: 20px;
}
.role {
  font-style: italic;
}

